@CHARSET "ISO-8859-1";

.url_entry {
	text-align: center;
}

.sans_serif_font {
	font-family: arial, helvetica, sans-serif;
}

.url_text_box {
	border: 2px solid blue;
}

.url_add {
	border: 2px solid black;
}

.url_submit {
	border: 2px solid black;
	background-color: LightGray;
	text-align: center;
}